
.marker {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 1px;
  height: 1px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-25%, -25%);
  font-size: 100px; 
  
}
 